<section class="banner-section">
 <div class="hero-container">
    <div class="hero-content">
        <p>Hello, Beautiful Human!</p>
        <span>What do you want to do today?</span>
    </div>
    <div class="hero-image">
        <img src="../../../../assets/women-with-laptop.png" alt="">
    </div>
</div> 
<div class="task-status-container">
    <div class="task-status completed-task-percentage">
      <div class="task-status-img">
        <img src="../../../../assets/icon-park-solid_check-one.svg" alt="" />
      </div>
      <div>
        <div class="task-status-percentage">{{0}}%</div>
      <div class="task-status-label">Completed Tasks</div>
      </div>
      
    </div>
    <div class="task-status active-task-percentage">
      <div class="task-status-img">
        <img src="../../../../assets/icon-park-solid_time.svg" alt="" />
      </div>
      <div>
         <div class="task-status-percentage">{{0}}%</div>
      <div class="task-status-label">Active Tasks</div>
      </div>
     
    </div>
</div>
</section>





