<div class="side-bar">
  <div class="app-logo">
    <h1>To-Do App</h1>
  </div>
  <div class="header-left">
    <div class="btn-add-task" (click)="onClickAddTask()">
      <div class="label-add-task">Add Task</div>
      <div class="img-add-task">
        <img src="../../../../assets/Add button.svg" alt="" />
      </div>
    </div>
    <div class="btn-signout">
      <button>
        Sign out
        <span><img src="../../../../assets/mdi_logout.svg" alt="" /></span>
      </button>
    </div>
  </div>
</div>
<div class="nav-items-container">
  <a routerLink="dashboard" routerLinkActive="active" class="nav-item">
    Dashboard
  </a>
  <a routerLink="active" routerLinkActive="active" class="nav-item">
    Active
  </a>
  <a routerLink="completed" routerLinkActive="active" class="nav-item">
    Completed
  </a>
</div>

<div class="drop-down">
  <div class="nav-item" (click)="onClickDiplayMenu()">
    <a [routerLink]="curRoute" routerLinkActive="active"><span>{{curRoute.charAt(0).toUpperCase()+curRoute.substring(1,curRoute.length)}}</span> </a>
    <img src="../../../../assets/ep_arrow-up-bold.svg" alt=""  />
  </div>
  <ng-container *ngFor="let route of routes">
      <div class="nav-item"  *ngIf="isMenuBtnClicked" >
      <a *ngIf="route.link!=curRoute" [routerLink]="route.link" routerLinkActive="active"><span>{{route.value}}</span></a>
    </div>
  </ng-container>


</div>