/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
*{
    font-family: "Lexend", sans-serif;
}
$yellow: #EDB046;
$brown: #BA5112;
$black: #251814;
$white:#ffffff;
$bx-shadow: 4px 4px 8px 0px #00000026;
$breakpoint-sm: 426px;
$breakpoint-md: 866px;

